form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 20px;
  height: 30rem;
}

.submit-button {
  width: 10rem;
}
label {
  display: flex;
  flex-direction: column;
}
input {
  width: 15%;
}
.cards-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
  color: white;
}
.card {
  height: 23rem;
  width: 20rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem 0rem;
}
.number {
  color: black;
}
.delete {
  color: white;
  background-color: red;
  padding: 7px;
  border: none;
}
